{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lungo 2 - HTML5 Cross-Device Framework</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    
    <!-- Lungo - Stylesheets -->
    <link rel="stylesheet" href="{% static 'components/lungo/lungo.css' %}">
    <link rel="stylesheet" href="{% static 'components/lungo/lungo.icon.css' %}">
    <link rel="stylesheet" href="{% static 'components/lungo/lungo.icon.brand.css' %}">
    <link rel="stylesheet" href="{% static 'components/lungo/lungo.theme.default.css' %}">
</head>

<body class="app">
    
    <section id="main" data-transition="slide">
        <header  class="extended">
            <nav class="left box">
                <a href="#menu" data-router="aside" data-icon="menu"></a>
            </nav>
            <nav class="right box">
                <a href="#second" data-router="section" data-icon="globe"></a>
            </nav>
            <div class="centered title with-subtitle">
                Mape
                <small class="subtitle">Mapa de eventos</small>
            </div>
        </header>
        
        <nav class="groupbar">
            <a href="#eventos" data-router="article" data-icon="map-marker" data-label="Eventos" data-count="4"></a>
            <a href="#mi-mapa" data-router="article" data-icon="check" data-label="Mi Mapa"></a>
            <a href="#mapa-completo" data-router="article" data-icon="globe"  data-label="Mapa Completo"></a>
        </nav>
        
        <article id="eventos" class="list indented scroll current">
            <ul>
                <li class="dark">
                    <strong>
                        A framework for developers who want to design, build and share cross device apps.
                    </strong>
                </li>
                <li data-icon="brand html5" class="feature">
                    <strong>Evento 1</strong>
                    Lungo Framework supports open web standards, such as HTML5, CSS3 and JavaScript. It brings consistent browser environment across mobiles, tvs and desktop devices.
                </li>
                <li data-icon="brand github-2" class="feature">
                    <strong>Open Source Project</strong>
                    Each new line of code in Lungo is welcome, we hope that Developers and restless minds help us to improve day by day this humble project.
                </li>
                <li data-icon="book" class="feature">
                    <strong>Powerfull JavaScript API</strong>
                    Each new line of code in Lungo is welcome, we hope that Developers and restless minds help us to improve day by day this humble project.
                </li>
                <li data-icon="brand branch" class="feature">
                    <strong>Multi-Device full support</strong>
                    Is known that create apps for each platform is expensive, this situation is increased by the arrival of tablets and SmartTVs. Lungo will suit all of them creating a unique and amazing UX.
                </li>
            </ul>
        </article>

        <article id="mi-mapa" class="current" data-transition="slide">
           mi mapa
        </article>
        <article id="mapa-completo">
           mapa completo
        </article>
    </section>


    <section id="second" data-transition="slide">
        <header data-title="Second section">
            <nav class="box">
                <a href="#back" data-router="section" data-icon="home"></a>
            </nav>
            <nav class="right box">
                <a href="#third" data-router="section" data-icon="up" data-label="Section"></a>
            </nav>
        </header>
        <article></article>
    </section>


    <section id="third" data-transition="cover">
        <header data-title="Third section">
            <nav class="right box">
                <a href="#back" data-router="section" data-label="Close"></a>
            </nav>
        </header>
        <article></article>
    </section>


    <aside id="menu">
        <header data-title="Opciones"></header>
        <article class="list">
            <ul>
                <li class="current">
                    <a href="#main" data-router="section">
                        <strong>Main</strong>
                    </a>
                </li>
                <li>
                    <a href="#second-article" data-router="article">
                        <strong>Second Article</strong>
                    </a>
                </li>
                <li>
                    <a href="wellcome.html" data-icon="signout">
                        <strong>Sing out</strong>
                    </a>
                </li>
            </ul>
        </article>
    </aside>

    <!-- Lungo - Dependencies -->
    <script src="{% static 'components/quojs/quo.js' %}"></script>
    <script src="{% static 'components/lungo/lungo.js' %}"></script>
    <!-- Lungo - Sandbox App -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
